*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{
    outline: none;
}
a:focus, a:active{
    outline: none;
}
nav,footer,header,aside{
    display: block;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}
/* ----------------------- */
body {
    padding: 30px;
}
.contener {
    background-color: antiquewhite;
}
.content {
    border: 2px solid red;
}

.content__top {
    background-color: blueviolet;
    height: 70px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.top__text {
    font-size: 18px;
    color: white;
    margin: 25px 15px;
}

.top__btn {
    margin: 20px 15px;
}

.btndelete {
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 16px;
    margin: 0 15px;
    letter-spacing: 1.5px;
}

.btnadd {
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.table {
    width: 100%;
    margin: 20px 0;
}

th {
    width: 16px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}

td {
    width: 16px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

img {
    width: 28px;
    height: 28px;
    background-color: antiquewhite;
}
.btnsave {
    background-color: green;
    width: 50px;
    height: 30px;
    color: wheat;
    border-radius: 29px;
}
.btncancel {
    background-color: red;
    width: 80px;
    height: 30px;
    color: wheat;
    border-radius: 29px;
}
input {
    height: 22px;
    font-size: 14px;
    padding: 5px;
}